[format]
# 可选general, bcdown
SOURCE_FORMAT = general

[epub]
# 没什么用, viewbox会自动适应, 且不会造成图片拉伸
# 对于极少数不指定页面大小的阅读器可能有效
VIEW_HEIGHT = 1200
VIEW_WIDTH = 848
# 阅读顺序, rtl: 从右向左, ltr: 从左向右
READING_ORDER = ltr
# 如果设置为True, 图源的文件结构会被忽略, 所有图片放在item/image目录下并重新命名
# 对于极少数阅读器, 开启此选项可能有效, 因为图片名称中可能含有空格, 加号等字符
# 这些字符作为文件名是合法的, 但部分阅读器在渲染时可能会将这些字符视作特殊字符
REARRANGEMENT = False

[split]
# 按照章节数划分epub文件, 防止过大
# 要禁用划分, 将此项设为-1
CHAPTER_SPLIT = 10

[filter]
# 要禁用某项过滤, 将该项设为-1
# 过滤章节数过少的漫画(一话短篇, 客座连载等)
MIN_CHAPTERS = 3
# 过滤页数过少的漫画(推特短漫等)
MIN_PAGES = 5
# 页数过少的章节数比例高于此值将被过滤
# 例: 某推特短漫共20话, 其中19话均只有3页, 剩余1话有10页, 按照0.9比例会被过滤
# 例2: 某一般连载共20话, 其中10话为正篇每话约30页, 剩余10话为番外均只有4页, 按照0.9比例不会被过滤
MIN_PAGES_RATIO = 0.9
# 过滤页数过多的章节(单行本, 画集等)
MAX_PAGES = 100

[others]
LOGGING_PATH = ./logs
SOURCE_PATH = ./raw
OUTPUT_PATH = ./epubs
